.Navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  background-color: #333;
  color: #ddd;
  &__link{
    padding: 12px 10px;
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  &__sub {
    cursor: pointer;
    padding: 15px 10px;
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  &__cart{
    border: 3px double black;
    margin-left:5px;
    border-radius: 50%;
    padding: 0 5px;
    background-color: #ddd;
    color: #111;
  }

}

.active {
  border-bottom: 5px solid yellow;
}
