.Link {
  margin: 20px auto 40px auto;
  text-align: center;
  &__home{
    font-size: 1.3rem;
    text-align: center;
    text-decoration: none;
    border: 1px solid #333;
    background-color: #70a6fd;
    padding:5px;
    color: #222;
  }
}
.Error {
  margin-top: 10px;
  text-align: center;
  font-size: 1.3rem;
}

.Product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px 10px;
  background-color: #eee;
    &__item{
      text-align: center;
      &--img{
        width:95%;
        max-width: 500px;
      }
      &__list{
        margin: 10px;
      }

    }
}
.just{
  text-align: justify;
}
