.Card {
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: sans-serif;
  &__item{
    position: relative;
    margin: 20px 0;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #999;
    max-width: 100%;
    &__box{
      max-width: 300px;
    }
    &__img{
      max-width: 100%;
    }
    &__name{
      margin: 10px 0;
      font-size: 1.2rem;
      text-transform: capitalize;
      font-weight: bold;
      text-align: center;
    }
    &__price{
      text-align: center;
      font-size: 1.5rem;
      font-weight: bolder;
    }
    &__star{
      text-align: center;
      color: orangered;
    }
    &__stock{
      font-weight: bolder;
      text-align: center;
      margin: 10px 0;
    }
    &__rating{
      margin-left:  5px;
      color: black
    }
    &__delivery{
      text-align: center;
      font-size: 0.8rem;
    }
    &__color{
      text-align: center;
      margin: 15px 0;
      &--box{
        border: 1px solid black;
        margin: 5px;
      }
    }

  }
}
