.Card {
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__item{
    margin: 20px 0;
    background-color: #eee;
    padding: 10px;
    border: 1px solid #999;
    &__box{

    }
    &__img{
      max-width: 300px;
    }

  }
}
